@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.bg-gradient-radial {
  background: radial-gradient(circle at top right, #1f4247, #0d1d23, #09141a);
}

.bg-normal {
  background: #09141a;
}

.bg-card {
  background: #0e191f;
}

.bg-card-active {
  background: #162329;
}

.bg-gradient-button {
  background: linear-gradient(108.32deg, #62cdcb 24.88%, #4599db 78.49%);
}

.shadow-gradient-button {
  box-shadow: 0px 4px 6px rgba(98, 205, 203, 0.5),
    -5px 15px 25px rgba(69, 153, 219, 0.5);
}

.color-gradient-gold {
  background: linear-gradient(
    74.08deg,
    #94783e -6.8%,
    #f3eda6 16.76%,
    #f8fae5 30.5%,
    #ffe2be 49.6%,
    #d5be88 78.56%,
    #f8fae5 89.01%,
    #d5be88 100.43%
  );
  background-clip: text;
  color: transparent;
}

.color-gradient-blue {
  background: linear-gradient(
    134.86deg,
    #abfffd 2.64%,
    #4599db 102.4%,
    #aadaff 102.4%
  );
  background-clip: text;
  color: transparent;
}

a {
  text-decoration: none;
  position: relative;
  color: #fff;
}

a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    74.08deg,
    #94783e -6.8%,
    #f3eda6 16.76%,
    #f8fae5 30.5%,
    #ffe2be 49.6%,
    #d5be88 78.56%,
    #f8fae5 89.01%,
    #d5be88 100.43%
  );
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

input[type="date"]::-moz-calendar-picker-indicator {
  display: none;
}

input[type="date"]::-ms-clear {
  display: none;
}

.react-datepicker-wrapper {
  width: 100%;
}

.alert {
  @apply p-4 rounded-md text-white fixed top-0 left-1/2 transform translate-x-1/2;
}

.alert-success {
  @apply bg-green-500;
}

.alert-error {
  @apply bg-red-500;
}

.alert.active {
  @apply translate-x-0;
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-slide-down {
  animation: slide-down 0.5s ease-out;
}

.bg-zodiac {
  background: rgba(255, 255, 255, 0.06);
}
